@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  color: #fff;
  background-color: #313843;

  h1,
  h2,
  h3,
  h4,
  Link,
  td,
  label {
    color: white;
  }
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
  background: #7f7f9e;
}
